<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="dhtmlx/codebase/fonts/font_roboto/roboto.css"/>
        <link rel="stylesheet" type="text/css" href="dhtmlx/codebase/dhtmlx.css"/>
        <script src="dhtmlx/codebase/dhtmlx.js"></script>
        
        <link rel='stylesheet' href='/stylesheets/style.css' />
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
