<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/dhtmlx/codebase/dhtmlx.css"/>
        <script src="/dhtmlx/codebase/dhtmlx.js"></script>
        <script src="/js/custom.js"></script>

        <link rel='stylesheet' href='/stylesheets/style.css'/>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <style>
            script {
                display: none !important;
            }
            style {
                display: none !important;
            }
            .modal-dialog {
                max-width: 1200px !important;
            }
        </style>
        {% block style %}{% endblock %}
    </head>
    <body class="">
        <div class="modal" tabindex="1" role="dialog" id="myModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" id="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">

            {% if session.logueado %}

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">CLICK4EAT</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/restaurantes">Restaurantes</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catálogos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/catalogos/categorias_restaurante">Categorias de restaurante</a>
                                    <a class="dropdown-item" href="/catalogos/tipos_comida">Tipos de comida</a>
                                    <a class="dropdown-item" href="/catalogos/caracteristicas_venta">Opciones de venta</a>
                                    <a class="dropdown-item" href="/catalogos/caracteristicas_inmueble">Carácteristicas del inmueble</a>
                                    <a class="dropdown-item" href="/catalogos/caracteristicas_servicios">Opciones de servicio</a>
                                    <a class="dropdown-item" href="/catalogos/condiciones">Condiciones de venta</a>
                                    <a class="dropdown-item" href="/catalogos/formas_pagos">Formas de pago</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Configuración
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/users">Usuarios</a>

                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/logout">Salir</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- Navbar -->
            

            {% endif %}
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <strong>Copyright &copy; 2018
                    <a href="#">Equipo 2</a>.</strong>
                All rights reserved.
            </footer>
        </div>

    </body>
</html>